{% include 'base.html' %}
<div class="container">
    <h1 class="title">Edit User</h1>
    <form class="forms" method="post" action="{{ url_for('edit', id=user.id) }}">
        <label for="new_username">New Username:</label>
        <input type="text" id="new_username" name="new_username" value="{{ user.username }}" required>
        <label for="new_password">New Password:</label>
        <input type="text" id="new_password" name="new_password" value="{{ user.password }}" required>
        <input type="submit" value="Save Changes">
    </form>
</div>